html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Open sans", sans-serif;
  background: #ffc600;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body * {
  box-sizing: inherit;
}

h1 {
  font-family: "helvetica neue", sans-serif;
}

h2 {
  font-family: "helvetica neue", sans-serif;
}

h3 {
  font-family: "helvetica neue", sans-serif;
}

h4 {
  font-family: "helvetica neue", sans-serif;
}

h5 {
  font-family: "helvetica neue", sans-serif;
}

h6 {
  font-family: "helvetica neue", sans-serif;
}

a {
  cursor: pointer;
}

.text-shadow {
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.d-flex {
  display: -ms-flexbox;
  display: flex;
}

.d-col {
  -ms-flex-direction: column;
      flex-direction: column;
}

.d-row {
  -ms-flex-direction: row;
      flex-direction: row;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.d-block {
  display: block;
}

.justify-center {
  -ms-flex-pack: center;
      justify-content: center;
}

.justify-start {
  -ms-flex-pack: start;
      justify-content: start;
}

.justify-end {
  -ms-flex-pack: end;
      justify-content: end;
}

.justify-space-between {
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.justify-space-evenly {
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
}

.align-center {
  -ms-flex-align: center;
      align-items: center;
}

.align-start {
  -ms-flex-align: start;
      align-items: start;
}

.align-end {
  -ms-flex-align: end;
      align-items: end;
}

.align-baseline {
  -ms-flex-align: baseline;
      align-items: baseline;
}

.justify-self-start {
  justify-self: flex-start;
}

.justify-self-end {
  justify-self: flex-end;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.vw100 {
  width: 100vw;
}

.vh100 {
  height: 100vh;
}

.text-center {
  text-align: center;
}

.mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.btn {
  cursor: pointer;
}

.desktop {
  display: none;
}

.mobile {
  display: default;
}

@media screen and (min-width: 960px) {
  .desktop {
    display: initial;
  }

  .mobile {
    display: none;
  }
}
.anchor-btn {
  border: none;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

header {
  background-color: #141414;
  padding: 20px;
}
header nav {
  color: #ebebeb;
}
header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header nav ul li {
  padding: 8px 10px 8px 10px;
  border-radius: 3px;
  cursor: pointer;
}
header nav ul li:hover {
  background-color: #ebebeb;
  color: #141414;
}

.navbar__link {
  text-decoration: none;
  color: inherit;
}

footer {
  height: 180px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  background-color: #141414;
  color: #ebebeb;
  padding: 0;
}
footer ul {
  padding: 0;
  margin: 0 20px 0 0;
  list-style: none;
  color: #ebebeb;
}
footer p {
  margin: 0;
}

.footer__container {
  margin: 40px 20px 40px 20px;
}

.footer__link {
  text-decoration: none;
  color: inherit;
}

.bottom-bar {
  height: 30px;
  background-color: #303030;
  width: 100%;
}
.bottom-bar p {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}

main {
  margin: 50px 0 230px 0;
}
main .main__container {
  max-width: 700px;
  margin: 0 30px 0 30px;
}
@media (min-width: 540px) {
  main .main__container {
    margin: 0 80px 0 80px;
  }
}
main .main__container .main__title {
  margin-bottom: 20px;
}
main .main__container .main__subtitle {
  margin-bottom: 20px;
}
main .main__container section {
  margin-bottom: 50px;
}

.main__wrapper {
  margin: 20px 20px 20px 20px;
}
@media (min-width: 540px) {
  .main__wrapper {
    margin: 0 80px 0 80px;
  }
}
.main__wrapper .main__list-wrapper {
  width: 100%;
  max-width: 400px;
}
.main__wrapper .main__list-wrapper h1 {
  text-align: center;
  margin-bottom: 25px;
}
.main__wrapper .main__list-wrapper ul {
  list-style: none;
  padding: 0;
}
.main__wrapper .main__list-wrapper ul li {
  margin-bottom: 20px;
}
.main__wrapper .main__list-wrapper hr {
  background-color: #141414;
  border: 1px solid #141414;
}
.main__wrapper .main__list-wrapper .list__item p {
  margin-top: 0;
}

.projects__container {
  max-width: 700px;
  margin: 0 30px 0 30px;
}
@media (min-width: 540px) {
  .projects__container {
    margin: 0 80px 0 80px;
  }
}
.projects__container .main__title {
  margin-bottom: 20px;
}
.projects__container .main__subtitle {
  margin-bottom: 20px;
}
.projects__container article {
  margin-bottom: 50px;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}
@media (min-width: 720px) {
  .projects__container article {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: start;
        align-items: flex-start;
  }
}
.projects__container article .project__description {
  -ms-flex-order: 2;
      order: 2;
}
.projects__container article .project__description h2 {
  margin-top: 0;
}

.img-left {
  -ms-flex-order: 3;
      order: 3;
}
@media (min-width: 720px) {
  .img-left {
    -ms-flex-order: 1;
        order: 1;
    margin-right: 15px;
  }
}

.img-right {
  -ms-flex-order: 3;
      order: 3;
}
@media (min-width: 720px) {
  .img-right {
    margin-left: 15px;
  }
}

.about__container {
  max-width: 700px;
  margin: 0 30px 0 30px;
}
@media (min-width: 540px) {
  .about__container {
    margin: 0 80px 0 80px;
  }
}
.about__container .main__title {
  margin-bottom: 20px;
}
.about__container .main__subtitle {
  margin-bottom: 20px;
}
.about__container .about__bio-container {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}
@media (min-width: 720px) {
  .about__container .about__bio-container .avatar {
    width: 200px;
    height: auto;
    margin-right: 20px;
  }
}
@media (min-width: 720px) {
  .about__container .about__bio-container {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: start;
        align-items: flex-start;
  }
}

.contact__container {
  max-width: 700px;
  margin: 0 30px 0 30px;
}
@media (min-width: 540px) {
  .contact__container {
    margin: 0 80px 0 80px;
  }
}
.contact__container .main__title {
  margin-bottom: 20px;
}
.contact__container .main__subtitle {
  margin-bottom: 20px;
}
.contact__container form {
  width: 100%;
}
.contact__container form label {
  display: block;
  margin-bottom: 10px;
}
.contact__container form input,
.contact__container form textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
  font-style: italic;
  background-color: #ebebeb;
  border: none;
  border-radius: 2px;
}
.contact__container form input[type=submit] {
  text-transform: uppercase;
  font-style: normal;
  padding: 10px 5px 10px 5px;
  border: none;
  border-radius: 3px;
  background-color: #141414;
  color: #ebebeb;
}
.contact__container form input[type=submit]:hover {
  background-color: #ebebeb;
  color: #141414;
  cursor: pointer;
}

.spinner-container {
  margin-top: 50px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #141414;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #141414 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.error-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
@media (min-width: 720px) {
  .error-wrapper {
    margin: 30px auto;
  }
}
.error-wrapper h1 {
  margin: 0 10px 0 10px;
}
