$font-primary: "helvetica neue", sans-serif;
$font-secondary: "Open sans", sans-serif;
$color-primary: #ffc600;
$color-primary-light: #f5e4a6;
$color-secondary: rgb(20, 20, 20);
$color-secondary-light: rgb(48, 48, 48);
$footer-height: 180px;
$text-color: rgb(235, 235, 235);
$text-color-soft: rgb(207, 207, 207);
$small-width: 540px;
$medium-width: 720px;
$large-width: 960px;
